$blue: #000080;

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    @media screen and (min-width: 768px) {
        // padding-left: 10rem;
    }
    
    .text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        opacity: .8;
        
        h2 {
            font-size: 4rem;
            line-height: .5rem;
            
        }
        
        h3 {
            font-size: 1.5rem;
        }
        
        p {
            line-height: .7rem;
            font-weight: bold;
            opacity: .7;
        }
        
        a {
            font-size: 1.5rem;
            background-color: $blue;
            color: white;
            border: none;
            padding: .5rem 2rem;
            border-radius: 10px;
            margin-top: 1rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
            cursor: pointer;
            line-height: 4rem;
            text-decoration: none;
        }
        
        span {
            color: $blue;
        }
    }
    
    .graphic {
        display: flex;
        flex-direction: row;
        justify-content: start;
        
        @media screen and (min-width: 768px) {
            max-width: 50%;
        }
    }
}

.functions {
    
}
