$blue: #000080;

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem 1rem;
}

.home {
    display: flex;
    flex-wrap: wrap;
    
    
    @media screen and (min-width: 768px) {
        // padding-left: 10rem;
    }
    
    .text {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        opacity: .8;
        
        h2 {
            font-size: 3rem;
            // line-height: .5rem;
            display: flex;
            justify-content: center;
            margin: 0;
            
            @media screen and (min-width: 768px) {
                justify-content: flex-start;
                font-size: 4rem;
            }
        }
        
        h3 {
            font-size: 1.5rem;
            text-align: center;
        }
        
        p {
            // line-height: .7rem;
            font-weight: bold;
            opacity: .7;
            text-align: center;
            
            @media screen and (min-width: 768px) {
                text-align: start;
            }
        }
        
        .button-wrapper {
            display: flex;
            justify-content: center;
            
            @media screen and (min-width: 768px) {
                justify-content: flex-start;
            }
        }
        
        a {
            font-size: 1.5rem;
            background-color: $blue;
            color: white;
            border: none;
            padding: .5rem 2rem;
            border-radius: 10px;
            margin-top: 1rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
            cursor: pointer;
            // line-height: 4rem;
            text-decoration: none;
        }
        
        span {
            color: $blue;
        }
    }
    
    .graphic {
        display: flex;
        justify-content: center;
        max-width: 100vw;
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        @media screen and (min-width: 768px) {
            max-width: 50%;
        }
    }
}

.functions {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 128, .15);
    padding: 4rem 0;
    
    .functions-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        
        .card-wrapper {
            padding: 2rem;
            width: 100%;
            
            @media screen and (min-width: 768px) {
                max-width: 15%;
            }
            
            .card {
                background-color: white;
                padding: 2rem;
                opacity: .8;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .18);
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                .fas {
                    background-color: rgba(0, 0, 128, .8);
                    padding: 1rem;
                    border-radius: 50%;
                    color: white;
                    margin-bottom: 1rem;
                }
                
                h3 {
                    font-size: 2rem;
                    margin: 1rem 0;
                }
                
                .hr-navy {
                    width: 60%;
                    border-bottom: 5px solid rgba(0, 0, 128, 1);
                    margin: 1rem 0;
                }
                
                p {
                    text-align: center;
                    font-weight: bold;
                    opacity: .7;
                }
            }    
        }
    }
}

.checklist {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    
    .checklist-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .graphic {
        max-width: 100%;
        display: flex;
        justify-content: center;
        
        @media screen and (min-width: 768px) {
            max-width: 50%;
        }
    }
    
    .checklist-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // flex-grow: 1;
        
        .checklist-inner {
            // background-color: rgba(0, 0, 0, .05);
            // box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 2rem;
            border-radius: 10px;
            font-weight: bold;
            opacity: .8;
            
            h3 {
                font-size: 3rem;
                color: $blue;
                margin: 1rem 0;
            }
            
            p {
                margin: 1rem 0;
                display: flex;
                align-items: center;
                font-weight: bold;
                opacity: .8;
                
                .fas {
                    color: rgba(0, 0, 128, 1);
                    font-size: 1.5em;
                }
                
                span {
                    margin-left: .5rem;
                }
            }
        }
    }
}

.footer {
    background-color: $blue;
    opacity: .7;
    
    .footer-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
            font-weight: 100;
            color: white;
        }
    }
}