$blue: #000080;

.header {
    display: block;
    // position: sticky;
    // top: 0;
    // opacity: .8;
    background-color: white;
    z-index: 2;
    
    border-top: 5px solid rgba(0, 0, 128, .8);

    h1 {
        font-size: 1.5rem;

        display: flex;
        flex-direction: row;
        justify-content: center;

        z-index: 3;

        span {
            color: $blue;
        }
    }
}
